.contents-list{
	background-color: yellow;
}
.login_info < li{
	float:left;
	list-style:none;
}
#img{
	max-width:300px;
	overflow:auto
}
.img-size{
	margin: 0;
	width:50%;
	height:200px;
}
.detail{
	float:right;
}